<div>
  <h2 id="page-heading" data-cy="CustomerContactHeading">
    <span jhiTranslate="customerContactApp.customerContact.home.title">Customer Contacts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="customerContactApp.customerContact.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-customer-contact"
        [routerLink]="['/customer-contact/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="customerContactApp.customerContact.home.createLabel"> Create a new Customer Contact </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="customerContacts?.length === 0">
    <span jhiTranslate="customerContactApp.customerContact.home.notFound">No Customer Contacts found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="customerContacts && customerContacts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="firstName">
            <div class="d-flex">
              <span jhiTranslate="customerContactApp.customerContact.firstName">First Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastName">
            <div class="d-flex">
              <span jhiTranslate="customerContactApp.customerContact.lastName">Last Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="displayName">
            <div class="d-flex">
              <span jhiTranslate="customerContactApp.customerContact.displayName">Display Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="email">
            <div class="d-flex">
              <span jhiTranslate="customerContactApp.customerContact.email">Email</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="phoneNumber">
            <div class="d-flex">
              <span jhiTranslate="customerContactApp.customerContact.phoneNumber">Phone Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="customerUnitKey.customerNumber">
            <div class="d-flex">
              <span jhiTranslate="customerContactApp.customerContact.customerUnitKey">Customer Unit Key</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customerContact of customerContacts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/customer-contact', customerContact.id, 'view']">{{ customerContact.id }}</a>
          </td>
          <td>{{ customerContact.firstName }}</td>
          <td>{{ customerContact.lastName }}</td>
          <td>{{ customerContact.displayName }}</td>
          <td>{{ customerContact.email }}</td>
          <td>{{ customerContact.phoneNumber }}</td>
          <td>
            <div *ngIf="customerContact.customerUnitKey">
              <a [routerLink]="['/customer-unit-key', customerContact.customerUnitKey.id, 'view']">{{
                customerContact.customerUnitKey.customerNumber
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/customer-contact', customerContact.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/customer-contact', customerContact.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(customerContact)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="customerContacts && customerContacts.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
